body {
  background-image: url("../public/images/drummer-171120_1280.webp");
  width: 80%;
}

.root {
  position: relative;
  top: 24rem;
  left: 15rem;
}

.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  color: white;
  margin-left: 2rem;
  width: 80px;
  height: 80px;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 15px;
  font-weight: 300;
  border: 2px solid rgb(230, 206, 206);
  border-radius: 5%;
  transition: all 1.07s;

  /* border: 4px solid black;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  transition: all 1.07s;
  width: 100px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px black; */
}

.slight {
  position: relative;
  color: rgb(200, 255, 0);
  letter-spacing: 3px;
  top: 10px;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc660;
  box-shadow: 0 0 10px #ffc660;
}
